<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!--End Sidbar  -->


  <div class="container p-4">
    <div class="row mb-4">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="encontrar gif">
      </div>

    </div>

    <hr class="">

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus molestias error cum maiores commodi ducimus autem veniam. Eaque corrupti ab eum, libero blanditiis laboriosam dolorem accusamus esse aspernatur beatae impedit.
      </div>
    </div>

  </div>
</div>
